*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    font-size: 16px;

}
#sidemenu{
height: 100vh;
background-color: var( --ion-color-medium);
width: 15rem;
}