<ion-content>
  <div id="sidemenu">
    <ul>
      <li><a href="#">Pocetna strana</a></li>
      <li><a href="#">Stranice</a></li>
      <li><a href="#">Dodaj novu stranicu</a></li>
      <li><a href="#">Proizvodi</a></li>
      <li><a href="#">Dodaj nov proizvod</a></li>
      <li><a href="#">Meni</a></li>
      <li><a href="#">Dodaj novu stavku u meni-u</a></li>
      <li><a href="#">Placehoulder</a></li>
      <li><a href="#">Placehoulder</a></li>
      <li><a href="#">Placehoulder</a></li>
    </ul>
  </div>
</ion-content>