:root {
  --ion-color-primary: #3498DB;
  --ion-color-primary-rgb: 52,152,219;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #2e86c1;
  --ion-color-primary-tint: #48a2df;

  --ion-color-secondary: #2980B9;
  --ion-color-secondary-rgb: 41,128,185;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2471a3;
  --ion-color-secondary-tint: #3e8dc0;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #287D7D;
  --ion-color-success-rgb: 40,125,125;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #236e6e;
  --ion-color-success-tint: #3e8a8a;

  --ion-color-warning: #FFD34E;
  --ion-color-warning-rgb: 255,211,78;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ba45;
  --ion-color-warning-tint: #ffd760;

  --ion-color-danger: #E74C3C;
  --ion-color-danger-rgb: 231,76,60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cb4335;
  --ion-color-danger-tint: #e95e50;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #2C3E50;
  --ion-color-medium-rgb: 44,62,80;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #273746;
  --ion-color-medium-tint: #415162;

  --ion-color-light: #ECF0F1;
  --ion-color-light-rgb: 236,240,241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d0d3d4;
  --ion-color-light-tint: #eef2f2;
}